html
  head
    title 
    meta 
    link(rel="stylesheet" href="css/main.css")
  body
    .cursor Explore
    main
      section.landing
        img(src='https://firebasestorage.googleapis.com/v0/b/portfolio-779db.appspot.com/o/img_login.png?alt=media&token=b0e070aa-7378-43a5-9e59-5af1b5f3ac41')
        .landing__info
          h4.info__logo TableTime
          -var title = '讓<span class="sp">資訊</span>帶你過<span class="how">每一天</span>'
          h1.info__title !{title}
          h4.info__intro 不存你的、只分析你的每一天
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
    crossorigin="anonymous")
    script(src='js/index.js')