html, body {
  width: 100%;
  margin: 0;
  background-color: #fff;
}
body nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: block;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #6441A4;
}
nav p {
  width: auto;
  display: inline-block;
  padding: 0;
  padding-left: 50px;
  color: #fff;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
nav ul li {
  cursor: pointer;
  color: #fff;
  margin: 10px;
}
nav ul li:hover {
  filter: brightness(70%)
}
.games__list {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
}
.games__list li {
  border-radius: 3px;
  overflow: hidden;
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  transition: .2s;
}
.games__list li:hover{
  background-color: #6441A4 ;
  color: #fff;
}
.games__list li:active{
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  transform: translate(2px,2px);
}
img{
  object-fit: cover;
  width: 100%;
  height: 40%;
}
.bot{
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.bot img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.info{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
h4 {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0;
}
p {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0;
}
.btn {
  display: block;
  width: 30%;
  text-align: center;
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px 100px;
  color: #6441A4;
  border: 1px solid #6441A4;
  transition: .2s;
}
.btn:hover{
  color: #fff;
  background-color: #6441A4;
}