html
  head
    title Challenge 1: 挑戰題
    meta(charset="utf-8")
    link(rel="stylesheet" href="css/main.css")
  body
    nav 
      p Twitch Top 20
      ul 
      .search
        imput(type='text')
        .search__btn 搜尋
      .games
        ul.games__list
  script(src="js/main.js")